
          <div class="text-white">
            <h1 class="mb-3">Manuel Tomassi </br> emperon.mt@gmail.com</h1>
			<h1 class="mb-3">Flavio Forlini </br> lordparseval@gmail.com</h1>
            <h1 class="mb-3">Valeria Ferone </br> valeriaferone@libero.it</h1>
            <h1 class="mb-3">Martina Gerardi </br> martinajanis94@gmail.com</h1>      
          </div>
