<%= stylesheet_pack_tag 'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'hello', 'data-turbolinks-track': 'reload' %>

<header class="py-3 mb-4 border-bottom shadow">
    <div class="container-fluid align-items-center d-flex ">
       
    </div>
</header>

<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
     
	 <%=render 'menu' %> 
	 
        <main class="col overflow-auto h-100">
            <div class="bg-light border rounded-3 p-3">
                <h2>Benvenuto</h2>
                <p>Questo è il cuore del nostro sito. Qui potrai trovare i nostri lavori, e i servizi che a mano mano andremo ad integrare.</p><hr />
				<p>Puoi aiutarti con il menu laterale ed il menù a tendina qui in alto. Clicca sul dossier desiderato ed inizia a leggere. Scoprirai che non si smette mai di imparare e che il passato è tanto attuale quanto il presente</p><hr />
				<p>Per eventuali problemi con il sito, o con le informazioni riportate, per qualsiasi cosa non esitate a contattarci nella sezione apposita dove troverete i nostri recapiti mail</p><hr />
								<%= image_tag "chissdaquin.png", style: 'height:220px;width:250px;' %>
                <h4>Grazie</h4>
                <p>Lo staff di Chiss D'Aquin</p><hr />
			</div>
        </main>
    </div>
</div>