       #intro {
        background-image: url("https://i.ibb.co/H2cbZs1/ancientfamily.jpg");
		height: 90vh;
		background-position: center;
		background-size: cover;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
	  
	  a:-webkit-any-link {
 
    text-decoration: none;
	color: black;
}

     a#linkface{
		 color:red
	 }
	  
	  .nav-link {
		text-align: justify;
		color: black !important;
		font-size: 25px !important;
	  }
	  
	  nav.navbar{
		  
		justify-content: space-evenly;  
	
	  }
	  
	  .navbar-brand{
		text-align: justify;
		font-family: MedievalSharp;
		font-weight: bold;
		font-size: 50px;		
	  }
	  
	  .text-white{
		  
		  background-color: rgba(0, 0, 0, 0.8);
		  padding-left: 15px;
		  padding-top: 15px;
		  padding-right: 15px;
		  padding-bottom: 15px;
		  
	  }
	  
	  .navbar-nav > li{
	    padding-left:15px;
	    padding-right:15px;
		
		
	  }
	  
	  .navbar-brand{
		margin-left: 15px;  
	  }
	  
	  /* footer */
		footer {
			margin-top: 5px;
			padding-top: 5px;
			border-top: 1px solid #eaeaea;
			color: #777;
		}
		footer a {
			color: #555;
		}
		footer a:hover {
			color: #222;
		}
		footer small {
			float: left;
		}
		footer ul {
			float: right;
			list-style: none;
		}
		footer ul li {
			float: left;
			margin-left: 15px;
		}


// Import Bootstrap v5  
@import "~bootstrap/scss/bootstrap";  