 #intro {
        background-image: url("https://i.ibb.co/H2cbZs1/ancientfamily.jpg");
		height: 90vh;
		background-position: fixed;
		background-size: cover;
      }
	  
	  /* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.fa-facebook {
  color: white;
}

	 #insta{
	 color: white;
	 } 
	  
	a:-webkit-any-link {
 
    text-decoration: none;
	color: black;
	
}

     a#linkface{
		 color:red
	 }
	  
	  .text-white{
		  
		  font-family: "1980-registers";
		  background-color: rgba(0, 0, 0, 0.65);
		  
	  }
	  
	  
	  .nav-item{
		  padding-left:15px!important;
	  }

/* Sidebar */
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    background: var(--bs-light);
    color: var(--bs-primary);
}

/* submenu */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


@import "~bootstrap/scss/bootstrap";  
@import "./actiontext.scss";