 @font-face {
  font-family: "our custom font";
  src: url('TYPEWR_B.TTF');
}
 
 p,h1,h2,button,nav{
	 
	  font-family: "our custom font";
	  font-size: 150%;
	 
 }
 
 nav{
	
 }
 
 .trix-content{
	 
	 font-family: "our custom font";
	 font-size: 150%;
	 
 }
 
 #intro {
        background-image: url("https://i.ibb.co/H2cbZs1/ancientfamily.jpg");
		height: 90vh;
		background-position: fixed;
		background-size: cover;
      }
	  
	  /* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.fa-facebook {
  color: white;
}

	 #insta{
	 color: white;
	 } 
	  
	a:-webkit-any-link {
 
    text-decoration: none;
	color: black;
	
}

     a#linkface{
		 color:red
	 }
	  
	  .text-white{
		  
		  font-family: "our custom font";
		  background-color: rgba(0, 0, 0, 0.65);
		  font-size: 100%;
		  
	  }
	  
	  .btn{
		  
		  font-family: "our custom font";
		  font-size: 100%;
		  
	  }
	  
	  .nav-item{
			padding-left:15px!important;
		    font-family: "our custom font";
			font-size: 100%;
	  }

/* Sidebar */
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    background: var(--bs-light);
    color: var(--bs-primary);
}

/* submenu */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;

}

ul.dropdown-menu{
	
  font-family: "our custom font";
  font-size: 100%;
	
}

@import "~bootstrap/scss/bootstrap";  
@import "./actiontext.scss";